@font-face {
    font-family: 'bird_houseregular';
    src: url('bird_house-webfont.woff2') format('woff2'),
         url('bird_house-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}
.texto_150{
    font-size: 150px;
}
.texto_70{
    font-size: 70px;
}
.texto_50{
    font-size: 50px;
}
.font_footer{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

a{
    
    /*font-size: 50px;*/
    color: #d0d0d0 ;
}
a:hover{
    color:#FFD103;
}
.nav{
    font-family: 'bird_houseregular', Arial, sans-serif;
    font-weight:normal;
    font-style:bold;
    font-size: 50px;
}

.text-overflow-cards {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

body{
    font-family: 'bird_houseregular', Arial, sans-serif;
    font-weight:normal;
    font-style:bold;
    background-color: black;
    color: white;
    font-size: 30px;
}

.dropdown-menu {
    width: 300px !important;
    height: 400px !important;
}
.boton_amarillo{
    border-color: #FFD103;
    background-color: black;
    color: #FFD103;
}
.texto_cards{
    color:black;
}
.bg_black{
    background-color: black;
}
.texto_white{
    color:white;
}
.opacidad_imagen{
    opacity: 0.5;
}
.texto_amarillo::placeholder {
    color: #FFD103;
    opacity: 1; /* Firefox */
  }
  
.texto_amarillo:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #FFD103;
 }
  
.texto_amarillo::-ms-input-placeholder { /* Microsoft Edge */
   color:#FFD103;
  }
.clase-algo{
    margin-top: 5 !important;
}

button{
    border-color: #d0d0d0;
}
.cosas_hidden{
    opacity: 0;
}
.cosas_hidden:hover{
    opacity: 1;

}

.botonesTallas{
    border: 1px;
    border-color: #FFD103;
    background-color: black;
    color: #FFD103;
}

.botonesTallas:hover{
    background-color: white;
    color:black;
}

.active{
    background-color: #FFD103;color:white;
}


/* ESTILOS SLIDER */

.container-slider {
    margin: 50px 0;
    position: relative;
    overflow: hidden;
}
.slider {
    display: flex;
    width: 400%;
    height: 400px;
    margin-left: -100%; /* para enfocarnos en la primer imagen */
    position: relative;
}
.slider:before{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}
.slider__section {
    width: 100%;
    position: relative;
}
.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* para que las imagenes no se distorsionen */
}
.slider__btn {
    position: absolute;
    width: 90px;
    height: 90px;
    /* background: rgb(255, 255, 255, 0.7); */
    top: 60%;
    transform: translateY(-50%);
    font-size: 80px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 80%;
    cursor: pointer;
    z-index: 999;
}
.slider__btn:hover {
    /* background: #fff; */
}
.slider__btn--left {
    left: 10px;
}
.slider__btn--right {
    right: 10px;
}
.slider__content {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    width: 60%;
    text-align: center;
    z-index: 999;
}
.slider__title {
    font-size: 150px;
    margin: 0;
    
}
.slider__txt {
    font-size: 70px;
    margin: 5px 0;
}
.slider__link{
    display: block;
    border: 2px solid orange;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 200px;
    margin: 10px auto;
    
}